language: node_js
node_js:
- '10'
sudo: false
install:
- npm install --only=dev
- npm ci
before_script:
- node node_modules/eslint/bin/eslint.js .
script:
- node ./edenconfig.js
after_script:
- npm test
deploy:
  provider: npm
  email: alex@edenup.com
  api_key:
    secure: szl8I4JzypKPJmDTqzhnNwcJ1FKtmsCbqBRnGRH76866HLeY/XnSdCN2Od1ETY9i8wUaC65DeKTvwlaoDuMdpbQyddgm3axPKmAFC8AGcOn8Ew7yMm0iizCfAQw68vGNpzEdQ3Uqa2Tk6GdDDB5HLnnqtsWuF9rQjWzJu7lqUhIUkrl3yeb+uVY+x4/Mc3c3FifgBGQ5JHefzlP19BCX6ll5UuCOdY9er1J1Gsgt7dkJFBU217WeDHwsLo5vx19eq3IwTWya7epbbpiebV7k8a3UkA10ykxm7DVt8WDsGFPhCOuJfK1UlYw1vXf+y2VtsTT4H7hdfYTAMfJG0xNyNzzVCkDrpok0SMuY3pfkWvGDklhXBjDFg6UTG0pThra9Df5ARFYDAhOQ8TYBw+mTAPwtBA7+NBp/q1OkOH6lAjUHbi/J2UQNUSWNRr5V0oC4jewZDvFj2bPd/KT5J7+uRgFP2FsF5DygFIEsNORoaZ5okb06fm37jNnbnQGaeuqrUyz/AInN7tzwwZfjEr4JSfBlzKRYlRaUNkAne9a+J7Y/d6MeCJp+hLHu3wlVwHjUU5aMQ596Vp1XHeL4l8U+KZ/Tr/FDRyXYqXObVQX03tma0zycNncIpZ/3htJArkM6uHeUfmuzx8ngpAkWQUbd4EGas3+HYSfqv8Eocn7TBlY=
  on:
    tags: true
    repo: eden-js/shop-eway
